---
import Icon from './Icon.astro'
interface Props {
  percent: number
  color?: string
  title: string
  subTitle: string
  tooltip?: string
}

const {
  percent,
  color,
  title,
  subTitle,
  tooltip
} = Astro.props
---
<div class="loader">
  <span class="loader-title">{title}</span>
  <button class="loader-subtitle" title={tooltip}><Icon icon="info"/> {subTitle}</button>
  <div class="loader-outer">
    <div class="loader-inner" style={`width: ${percent}%; ${color ? `background-color: ${color};` : ''}`} />
  </div>
</div>

<style lang="scss">
  @import '../styles/global.scss';
  .loader {
    display: grid;
    grid-template-areas: 
      "title title . subtitle"
      "loader loader loader loader";
    gap: 1rem;
    margin: 0.5rem 0;
  }

  .loader-title {
    grid-area: title;
    justify-self: start;
  }

  .loader-subtitle {
    grid-area: subtitle;
    justify-self: end;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .loader-outer {
    background-color: var(--gray-800);
    grid-area: loader;
    height: 20px;
  }

  .loader-inner {
    grid-area: loader;
    height: 100%;
    background-color: $accent-regular;
  }
</style>